@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000;
  --background: #FFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff;
    --background: #121212;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  transition: color 0.2s, background 0.2s;
}
